.Hbackground {
    background-size: cover;          
    background-repeat: no-repeat;    /* Avoid repeating the image */
    background-position: center;     /* Center the image */
    width: 100%;
    height: 100vh;                   /* Full screen height */
    color: white;    
    padding-top: 200px;                /* Ensure text is readable */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);  
  }
  